html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #79756f;
  text-align: center;
  border-top: 1px solid #595652;
  border-bottom: 1px solid #595652;
}

h1 {
  font-family: Bevan, serif;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: .75em;
  background-color: #713837;
  border-radius: 4px;
}

a:hover {
  background-color: #f33;
}

nav ul {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-bottom: .3em;
}
